In [3]:
!pip install pandas
!pip install scikit-learn

Requirement already satisfied: pandas in c:\users\kesdr\miniconda3\envs\adsfinal\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kesdr\miniconda3\envs\adsfinal\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kesdr\miniconda3\envs\adsfinal\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kesdr\miniconda3\envs\adsfinal\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kesdr\miniconda3\envs\adsfinal\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\kesdr\miniconda3\envs\adsfinal\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Collecting scikit-learn
  Using cached scikit_learn-1.6.1-cp312-cp312-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\kesdr\miniconda3\envs\adsfinal\lib\site-packages (from scikit-learn) (2.2.2)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.6.1-cp312-cp312-win_amd64.whl (11.1 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.1-cp312-cp312-win_amd64.whl (43.6 MB)
   ---------------------------------------- 0.0/43.6 MB ? eta -:--:--
   -- ------------------------------------- 2.9/43.6 MB 14.0 MB/s eta 0:00:03
   ----- ---------------------------------- 6.0/43.6 MB 14.2 MB/s eta 0:00:03
   -------- ------------------------------- 8.9/43.6 MB 14.2 MB/s eta 0:00:03
   ---------- ----------------------------- 11.8/43.6 MB 14.5 MB/s eta 0:00:03
   ------------- -------------------------- 14.9/43.6 MB 14.4 MB/s eta 0:00:02
   ---------------- ----------------------- 18.1/43.6 MB 14.4 MB/s eta 0:00:02
   ------------------- -------------------- 21.0/43.6 MB 14.6 MB/s eta 0:00:02
   ---------------------- ----------------- 24.1/43.6 MB 14.5 MB/s eta 0:00:02
   ------------------------ --------------- 27.0/43.6 MB 14.5 MB/s eta 0:00:02
   --------------------------- ------------ 30.1/43.6 MB 14.5 MB/s eta 0:00:01
   ------------------------------ --------- 33.3/43.6 MB 14.5 MB/s eta 0:00:01
   --------------------------------- ------ 36.4/43.6 MB 14.6 MB/s eta 0:00:01
   ------------------------------------ --- 39.3/43.6 MB 14.5 MB/s eta 0:00:01
   -------------------------------------- - 42.5/43.6 MB 14.5 MB/s eta 0:00:01
   ---------------------------------------- 43.6/43.6 MB 13.9 MB/s eta 0:00:00
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.1 threadpoolctl-3.5.0

In [4]:
import pandas as pd
from scipy import stats
from sklearn.cluster import KMeans
import numpy as np

In [7]:
bls = pd.read_csv("C:/Users/kesdr/Downloads/bls_data.csv")
print(bls.head())

              series_id  year period  value     footnotes
0  LAUMT063108000000003  2024    M11    5.4  Preliminary.
1  LAUMT063108000000003  2024    M10    5.6           NaN
2  LAUMT063108000000003  2024    M09    5.5           NaN
3  LAUMT063108000000003  2024    M08    6.2           NaN
4  LAUMT063108000000003  2024    M07    6.0           NaN

In [8]:
print('Number of instances = %d' % (bls.shape[0]))
print('Number of attributes = %d' % (bls.shape[1]))

Number of instances = 524
Number of attributes = 5

In [10]:
print('Number of missing values:')
for col in bls.columns:
    print(f'{col}: {bls[col].isna().sum()}')

Number of missing values:
series_id: 0
year: 0
period: 0
value: 0
footnotes: 520

In [11]:
blsdrop = bls.drop(columns=['footnotes'])
blsdrop

                series_id  year period      value
0    LAUMT063108000000003  2024    M11        5.4
1    LAUMT063108000000003  2024    M10        5.6
2    LAUMT063108000000003  2024    M09        5.5
3    LAUMT063108000000003  2024    M08        6.2
4    LAUMT063108000000003  2024    M07        6.0
..                    ...   ...    ...        ...
519  LAUMT063108000000006  2014    M05  6523953.0
520  LAUMT063108000000006  2014    M04  6505721.0
521  LAUMT063108000000006  2014    M03  6544226.0
522  LAUMT063108000000006  2014    M02  6527749.0
523  LAUMT063108000000006  2014    M01  6483077.0

[524 rows x 4 columns]

In [12]:
print('Number of missing values:')
for col in blsdrop.columns:
    print(f'{col}: {blsdrop[col].isna().sum()}')

Number of missing values:
series_id: 0
year: 0
period: 0
value: 0

In [13]:
print(f"Duplicate rows: {blsdrop.duplicated().sum()}")

Duplicate rows: 0