In [1]:
!pip install sqlalchemy pandas
!pip install matplotlib
!pip install seaborn

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.38-cp311-cp311-macosx_11_0_arm64.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 15.9 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: pandas in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (2.1.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-2.0.38
Requirement already satisfied: matplotlib in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (3.8.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib) (4.44.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib) (1.26.0)
Requirement already satisfied: packaging>=20.0 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=8 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: seaborn in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from seaborn) (1.26.0)
Requirement already satisfied: pandas>=1.2 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from seaborn) (2.1.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from seaborn) (3.8.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.44.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.1)
Requirement already satisfied: pillow>=8 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/patriciomartinez/miniconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)

In [23]:
from sqlalchemy import create_engine, Column, Integer, String, Float, Date
from sqlalchemy.orm import declarative_base, sessionmaker
import pandas as pd
from sqlalchemy import text
from sqlalchemy.inspection import inspect
from sqlalchemy.orm import aliased
from sqlalchemy import func
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
engine = create_engine("sqlite:///disaster_data.db", echo=True)

In [25]:
Base = declarative_base()

In [26]:
Session = sessionmaker(bind=engine)
session = Session()

In [27]:
fema_df = pd.read_csv("cleaned_fema_data.csv")
climate_df = pd.read_csv("cleaned_climate_data.csv")
bls_df = pd.read_csv("cleaned_bls_data.csv")

In [28]:
#FEMA Table

class Disaster(Base):
    __tablename__ = "disasters"

    disasterNumber = Column(Integer, primary_key=True)
    femaDeclarationString = Column(String)
    state = Column(String(2))
    declarationType = Column(String(10))
    declarationDate = Column(Date)
    incidentType = Column(String)
    incidentBeginDate = Column(Date)
    incidentEndDate = Column(Date)
    region = Column(Integer)

In [29]:
#Climate Table

class Climate(Base):
    __tablename__ = "climate"

    id = Column(Integer, primary_key=True, autoincrement=True)  # Unique ID
    year = Column(Integer, nullable=False)  # Allow duplicates
    avg_temp = Column(Float)
    co2_emissions = Column(Float)
    sea_level_rise = Column(Float)
    rainfall = Column(Float)
    population = Column(Float)
    renewable_energy = Column(Float)
    extreme_weather_events = Column(Integer)
    forest_area = Column(Float)

In [30]:
#BLS Tables

class BLS(Base):
    __tablename__ = "bls"

    id = Column(Integer, primary_key=True, autoincrement=True)
    series_id = Column(String)
    year = Column(Integer)
    period = Column(String)
    value = Column(Float)

In [31]:
Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)
print("✅ Tables created successfully!")

2025-02-23 10:14:58,603 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-23 10:14:58,603 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("disasters")
2025-02-23 10:14:58,604 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-23 10:14:58,605 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("disasters")
2025-02-23 10:14:58,605 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-23 10:14:58,606 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("climate")
2025-02-23 10:14:58,606 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-23 10:14:58,607 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("climate")
2025-02-23 10:14:58,607 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-23 10:14:58,607 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bls")
2025-02-23 10:14:58,607 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-23 10:14:58,608 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("bls")
2025-02-23 10:14:58,608 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-23 10:14:58,608 INFO sqlalchemy.engine.Engine COMMIT
2025-02-23 10:14:58,609 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-23 10:14:58,609 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("disasters")
2025-02-23 10:14:58,609 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-23 10:14:58,610 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("disasters")
2025-02-23 10:14:58,610 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-23 10:14:58,610 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("climate")
2025-02-23 10:14:58,610 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-23 10:14:58,611 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("climate")
2025-02-23 10:14:58,611 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-23 10:14:58,611 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bls")
2025-02-23 10:14:58,612 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-23 10:14:58,612 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("bls")
2025-02-23 10:14:58,612 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-23 10:14:58,613 INFO sqlalchemy.engine.Engine
CREATE TABLE disasters (
	"disasterNumber" INTEGER NOT NULL,
	"femaDeclarationString" VARCHAR,
	state VARCHAR(2),
	"declarationType" VARCHAR(10),
	"declarationDate" DATE,
	"incidentType" VARCHAR,
	"incidentBeginDate" DATE,
	"incidentEndDate" DATE,
	region INTEGER,
	PRIMARY KEY ("disasterNumber")
)


2025-02-23 10:14:58,613 INFO sqlalchemy.engine.Engine [no key 0.00033s] ()
2025-02-23 10:14:58,615 INFO sqlalchemy.engine.Engine
CREATE TABLE climate (
	id INTEGER NOT NULL,
	year INTEGER NOT NULL,
	avg_temp FLOAT,
	co2_emissions FLOAT,
	sea_level_rise FLOAT,
	rainfall FLOAT,
	population FLOAT,
	renewable_energy FLOAT,
	extreme_weather_events INTEGER,
	forest_area FLOAT,
	PRIMARY KEY (id)
)


2025-02-23 10:14:58,616 INFO sqlalchemy.engine.Engine [no key 0.00038s] ()
2025-02-23 10:14:58,617 INFO sqlalchemy.engine.Engine
CREATE TABLE bls (
	id INTEGER NOT NULL,
	series_id VARCHAR,
	year INTEGER,
	period VARCHAR,
	value FLOAT,
	PRIMARY KEY (id)
)


2025-02-23 10:14:58,617 INFO sqlalchemy.engine.Engine [no key 0.00035s] ()
2025-02-23 10:14:58,618 INFO sqlalchemy.engine.Engine COMMIT
✅ Tables created successfully!

In [32]:
#adjust FEMA data

fema_df["declarationDate"] = pd.to_datetime(fema_df["declarationDate"])
fema_df["incidentBeginDate"] = pd.to_datetime(fema_df["incidentBeginDate"])
fema_df["incidentEndDate"] = pd.to_datetime(fema_df["incidentEndDate"])

fema_df = fema_df.drop_duplicates(subset=["disasterNumber"])

In [33]:
#adjust climate data

climate_df.rename(columns={
    "Year": "year",
    "Avg Temperature (°C)": "avg_temp",
    "CO2 Emissions (Tons/Capita)": "co2_emissions",
    "Sea Level Rise (mm)": "sea_level_rise",
    "Rainfall (mm)": "rainfall",
    "Population": "population",
    "Renewable Energy (%)": "renewable_energy",
    "Extreme Weather Events": "extreme_weather_events",
    "Forest Area (%)": "forest_area"
}, inplace=True)

# Ensure numeric data is in the correct format
numeric_columns = ["year", "avg_temp", "co2_emissions", "sea_level_rise",
                   "rainfall", "population", "renewable_energy",
                   "extreme_weather_events", "forest_area"]

climate_df[numeric_columns] = climate_df[numeric_columns].astype(float)

In [34]:
#adjust bls

bls_df["year"] = bls_df["year"].astype(int)
bls_df["value"] = bls_df["value"].astype(float)

In [35]:
#insert FEMA data

disasters = [
    Disaster(
        disasterNumber=row["disasterNumber"],
        femaDeclarationString=row.get("femaDeclarationString", None),
        state=row.get("state", None),
        declarationType=row.get("declarationType", None),
        declarationDate=row.get("declarationDate", None),
        incidentType=row.get("incidentType", None),
        incidentBeginDate=row.get("incidentBeginDate", None),
        incidentEndDate=row.get("incidentEndDate", None),
        region=row.get("region", None)
    )
    for _, row in fema_df.iterrows()
]

session.add_all(disasters)
session.commit()
print("✅ FEMA data inserted successfully!")

2025-02-23 10:15:03,841 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-23 10:15:03,846 INFO sqlalchemy.engine.Engine INSERT INTO disasters ("disasterNumber", "femaDeclarationString", state, "declarationType", "declarationDate", "incidentType", "incidentBeginDate", "incidentEndDate", region) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-02-23 10:15:03,846 INFO sqlalchemy.engine.Engine [generated in 0.00167s] [(5453, 'FM-5453-CA', 'CA', 'FM', '2022-09-09', 'Fire', '2022-09-09', '2022-09-26', 9), (5451, 'FM-5451-CA', 'CA', 'FM', '2022-09-06', 'Fire', '2022-09-05', '2022-09-14', 9), (5450, 'FM-5450-CA', 'CA', 'FM', '2022-09-02', 'Fire', '2022-09-02', '2022-09-09', 9), (5445, 'FM-5445-CA', 'CA', 'FM', '2022-07-23', 'Fire', '2022-07-22', '2022-08-03', 9), (5439, 'FM-5439-CA', 'CA', 'FM', '2022-05-12', 'Fire', '2022-05-11', '2022-05-16', 9), (5419, 'FM-5419-CA', 'CA', 'FM', '2021-10-13', 'Fire', '2021-10-12', '2021-11-17', 9), (5417, 'FM-5417-CA', 'CA', 'FM', '2021-09-23', 'Fire', '2021-09-23', '2021-09-28', 9), (5416, 'FM-5416-CA', 'CA', 'FM', '2021-08-25', 'Fire', '2021-08-24', '2021-09-06', 9)  ... displaying 10 of 327 total bound parameter sets ...  (65, 'DR-65-CA', 'CA', 'DR', '1956-12-29', 'Fire', '1956-12-29', '1956-12-29', 9), (15, 'DR-15-CA', 'CA', 'DR', '1954-02-05', 'Flood', '1954-02-05', '1954-02-05', 9)]
2025-02-23 10:15:03,854 INFO sqlalchemy.engine.Engine COMMIT
✅ FEMA data inserted successfully!

In [36]:
#insert climate data

climate_records = [
    Climate(
        year=int(row["year"]),
        avg_temp=row["avg_temp"],
        co2_emissions=row["co2_emissions"],
        sea_level_rise=row["sea_level_rise"],
        rainfall=row["rainfall"],
        population=row["population"],
        renewable_energy=row["renewable_energy"],
        extreme_weather_events=int(row["extreme_weather_events"]),
        forest_area=row["forest_area"]
    )
    for _, row in climate_df.iterrows()
]

session.add_all(climate_records)
session.commit()
print("✅ Climate data inserted successfully!")

2025-02-23 10:15:05,257 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-23 10:15:05,259 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,259 INFO sqlalchemy.engine.Engine [generated in 0.00029s (insertmanyvalues) 1/73 (ordered; batch not supported)] (2019, 31.0, 4.8, 4.2, 2407.0, 107364344.0, 49.2, 8, 31.0)
2025-02-23 10:15:05,260 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,260 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/73 (ordered; batch not supported)] (2003, 27.4, 1.8, 2.2, 766.0, 798905927.0, 27.4, 10, 14.6)
2025-02-23 10:15:05,261 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,261 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/73 (ordered; batch not supported)] (2021, 28.9, 13.3, 1.8, 617.0, 1019475941.0, 24.4, 6, 16.3)
2025-02-23 10:15:05,261 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,261 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/73 (ordered; batch not supported)] (2015, 10.6, 14.9, 1.1, 2003.0, 52552633.0, 23.5, 10, 35.4)
2025-02-23 10:15:05,262 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,262 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/73 (ordered; batch not supported)] (2006, 14.8, 9.6, 3.7, 2914.0, 772375173.0, 38.1, 11, 60.5)
2025-02-23 10:15:05,262 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,263 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/73 (ordered; batch not supported)] (2007, 27.5, 5.8, 2.9, 2539.0, 330887513.0, 5.3, 14, 11.1)
2025-02-23 10:15:05,263 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,264 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/73 (ordered; batch not supported)] (2008, 19.5, 17.7, 2.5, 1419.0, 1140062010.0, 20.1, 0, 35.9)
2025-02-23 10:15:05,264 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,264 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/73 (ordered; batch not supported)] (2006, 28.5, 1.4, 2.5, 2158.0, 411773643.0, 29.4, 10, 61.6)
2025-02-23 10:15:05,265 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,265 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/73 (ordered; batch not supported)] (2023, 6.2, 18.6, 4.4, 1806.0, 487618104.0, 21.9, 8, 12.1)
2025-02-23 10:15:05,265 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,265 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/73 (ordered; batch not supported)] (2000, 9.9, 3.7, 2.5, 2067.0, 739358801.0, 9.5, 7, 64.7)
2025-02-23 10:15:05,266 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,266 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/73 (ordered; batch not supported)] (2022, 17.6, 12.1, 2.7, 2800.0, 787469860.0, 40.0, 2, 46.7)
2025-02-23 10:15:05,266 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,267 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/73 (ordered; batch not supported)] (2000, 28.0, 17.8, 3.4, 518.0, 161376204.0, 38.0, 8, 30.2)
2025-02-23 10:15:05,267 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,267 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/73 (ordered; batch not supported)] (2002, 5.9, 3.5, 3.9, 2493.0, 1167300328.0, 23.5, 9, 61.2)
2025-02-23 10:15:05,268 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,268 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/73 (ordered; batch not supported)] (2009, 16.5, 10.9, 3.2, 2064.0, 1293640510.0, 42.1, 2, 25.0)
2025-02-23 10:15:05,268 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,268 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/73 (ordered; batch not supported)] (2016, 34.6, 5.0, 4.6, 2670.0, 1041486581.0, 34.2, 13, 12.2)
2025-02-23 10:15:05,269 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,269 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/73 (ordered; batch not supported)] (2022, 14.7, 7.8, 2.7, 2214.0, 660650168.0, 38.9, 11, 44.4)
2025-02-23 10:15:05,270 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,270 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/73 (ordered; batch not supported)] (2016, 26.9, 3.8, 3.5, 2313.0, 722640614.0, 9.6, 12, 33.6)
2025-02-23 10:15:05,270 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,270 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/73 (ordered; batch not supported)] (2015, 29.9, 16.7, 2.4, 805.0, 708549477.0, 44.0, 6, 34.7)
2025-02-23 10:15:05,271 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,271 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/73 (ordered; batch not supported)] (2001, 24.5, 19.4, 3.6, 2041.0, 214534006.0, 47.7, 10, 60.9)
2025-02-23 10:15:05,271 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,272 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/73 (ordered; batch not supported)] (2019, 27.8, 14.7, 4.9, 1637.0, 648823762.0, 16.0, 0, 21.4)
2025-02-23 10:15:05,272 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,272 INFO sqlalchemy.engine.Engine [insertmanyvalues 21/73 (ordered; batch not supported)] (2023, 20.0, 17.9, 3.7, 2284.0, 1310548957.0, 25.6, 14, 50.6)
2025-02-23 10:15:05,272 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,273 INFO sqlalchemy.engine.Engine [insertmanyvalues 22/73 (ordered; batch not supported)] (2003, 12.4, 0.6, 3.5, 2780.0, 866033515.0, 14.2, 11, 44.6)
2025-02-23 10:15:05,273 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,273 INFO sqlalchemy.engine.Engine [insertmanyvalues 23/73 (ordered; batch not supported)] (2007, 16.8, 6.3, 4.1, 1062.0, 41988408.0, 7.4, 1, 41.6)
2025-02-23 10:15:05,274 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,274 INFO sqlalchemy.engine.Engine [insertmanyvalues 24/73 (ordered; batch not supported)] (2015, 26.5, 5.5, 2.7, 938.0, 1377728769.0, 44.3, 13, 63.0)
2025-02-23 10:15:05,274 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,275 INFO sqlalchemy.engine.Engine [insertmanyvalues 25/73 (ordered; batch not supported)] (2015, 16.4, 17.5, 1.7, 1700.0, 93560788.0, 8.7, 6, 31.3)
2025-02-23 10:15:05,275 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,275 INFO sqlalchemy.engine.Engine [insertmanyvalues 26/73 (ordered; batch not supported)] (2003, 19.4, 12.8, 1.2, 2134.0, 536356608.0, 47.5, 3, 55.4)
2025-02-23 10:15:05,275 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,275 INFO sqlalchemy.engine.Engine [insertmanyvalues 27/73 (ordered; batch not supported)] (2002, 17.0, 0.5, 3.5, 1184.0, 84528761.0, 7.3, 14, 21.4)
2025-02-23 10:15:05,276 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,276 INFO sqlalchemy.engine.Engine [insertmanyvalues 28/73 (ordered; batch not supported)] (2022, 10.5, 16.5, 4.9, 2444.0, 267009905.0, 18.5, 2, 27.9)
2025-02-23 10:15:05,276 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,276 INFO sqlalchemy.engine.Engine [insertmanyvalues 29/73 (ordered; batch not supported)] (2007, 16.2, 13.9, 4.3, 1681.0, 1078493355.0, 9.6, 8, 20.5)
2025-02-23 10:15:05,276 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,277 INFO sqlalchemy.engine.Engine [insertmanyvalues 30/73 (ordered; batch not supported)] (2015, 28.8, 0.6, 2.2, 2382.0, 204172325.0, 9.9, 8, 27.5)
2025-02-23 10:15:05,277 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,277 INFO sqlalchemy.engine.Engine [insertmanyvalues 31/73 (ordered; batch not supported)] (2004, 29.3, 17.3, 3.2, 1870.0, 1377931241.0, 13.4, 13, 44.2)
2025-02-23 10:15:05,277 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,278 INFO sqlalchemy.engine.Engine [insertmanyvalues 32/73 (ordered; batch not supported)] (2020, 21.1, 11.2, 4.8, 2648.0, 320264723.0, 16.2, 0, 63.9)
2025-02-23 10:15:05,278 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,278 INFO sqlalchemy.engine.Engine [insertmanyvalues 33/73 (ordered; batch not supported)] (2009, 5.5, 6.4, 4.3, 2026.0, 474288233.0, 13.9, 2, 44.9)
2025-02-23 10:15:05,278 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,279 INFO sqlalchemy.engine.Engine [insertmanyvalues 34/73 (ordered; batch not supported)] (2015, 18.7, 2.1, 4.8, 1222.0, 977078792.0, 23.1, 2, 41.0)
2025-02-23 10:15:05,279 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,279 INFO sqlalchemy.engine.Engine [insertmanyvalues 35/73 (ordered; batch not supported)] (2021, 24.0, 18.8, 3.4, 2157.0, 1169884055.0, 23.0, 7, 10.8)
2025-02-23 10:15:05,279 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,280 INFO sqlalchemy.engine.Engine [insertmanyvalues 36/73 (ordered; batch not supported)] (2012, 11.8, 15.5, 3.8, 2626.0, 56245653.0, 45.2, 14, 23.8)
2025-02-23 10:15:05,280 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,280 INFO sqlalchemy.engine.Engine [insertmanyvalues 37/73 (ordered; batch not supported)] (2022, 13.4, 7.7, 3.7, 566.0, 1049605777.0, 12.5, 8, 27.3)
2025-02-23 10:15:05,280 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,281 INFO sqlalchemy.engine.Engine [insertmanyvalues 38/73 (ordered; batch not supported)] (2022, 9.9, 13.1, 1.5, 1489.0, 688166625.0, 8.9, 13, 27.6)
2025-02-23 10:15:05,281 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,281 INFO sqlalchemy.engine.Engine [insertmanyvalues 39/73 (ordered; batch not supported)] (2019, 33.6, 5.7, 1.4, 1629.0, 1356634360.0, 13.8, 14, 31.8)
2025-02-23 10:15:05,281 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,282 INFO sqlalchemy.engine.Engine [insertmanyvalues 40/73 (ordered; batch not supported)] (2023, 23.6, 11.2, 1.6, 731.0, 1196150514.0, 22.2, 4, 34.7)
2025-02-23 10:15:05,282 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,282 INFO sqlalchemy.engine.Engine [insertmanyvalues 41/73 (ordered; batch not supported)] (2000, 11.9, 18.8, 2.0, 2681.0, 297043004.0, 47.0, 6, 48.7)
2025-02-23 10:15:05,282 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,283 INFO sqlalchemy.engine.Engine [insertmanyvalues 42/73 (ordered; batch not supported)] (2012, 19.4, 15.7, 1.7, 1187.0, 918159557.0, 23.4, 10, 44.5)
2025-02-23 10:15:05,283 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,283 INFO sqlalchemy.engine.Engine [insertmanyvalues 43/73 (ordered; batch not supported)] (2006, 23.9, 19.0, 1.4, 1835.0, 1146873886.0, 34.0, 9, 36.1)
2025-02-23 10:15:05,283 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,283 INFO sqlalchemy.engine.Engine [insertmanyvalues 44/73 (ordered; batch not supported)] (2003, 9.5, 5.0, 1.5, 2254.0, 786397155.0, 5.3, 0, 53.9)
2025-02-23 10:15:05,284 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,284 INFO sqlalchemy.engine.Engine [insertmanyvalues 45/73 (ordered; batch not supported)] (2023, 33.3, 9.4, 1.4, 882.0, 589637290.0, 26.1, 6, 34.9)
2025-02-23 10:15:05,284 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,284 INFO sqlalchemy.engine.Engine [insertmanyvalues 46/73 (ordered; batch not supported)] (2022, 29.3, 11.4, 4.5, 2756.0, 1339427830.0, 25.5, 9, 34.5)
2025-02-23 10:15:05,284 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-02-23 10:15:05,284 INFO sqlalchemy.engine.Engine [insertmanyvalues 47/73 (ordered; batch not supported)] (2013, 20.3, 14.8, 3.2, 886.0, 202353097.0, 17.6, 12, 29.0)
2025-02-23 10:15:05,285 INFO sqlalchemy.engine.Engine INSERT INTO climate (year, avg_temp, co2_emissions, sea_level_rise, rainfall, population, renewable_energy, extreme_weather_events, forest_area) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id

In [37]:
#insert BLS data

bls_records = [
    BLS(
        series_id=row["series_id"],
        year=int(row["year"]),
        period=row["period"],
        value=row["value"]
    )
    for _, row in bls_df.iterrows()
]

session.add_all(bls_records)
session.commit()
print("✅ BLS data inserted successfully!")

2025-02-23 10:15:06,263 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-23 10:15:06,267 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,268 INFO sqlalchemy.engine.Engine [generated in 0.00055s (insertmanyvalues) 1/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2024, 'M11', 5.4)
2025-02-23 10:15:06,268 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,269 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2024, 'M10', 5.6)
2025-02-23 10:15:06,269 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,269 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2024, 'M09', 5.5)
2025-02-23 10:15:06,269 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,270 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2024, 'M08', 6.2)
2025-02-23 10:15:06,270 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,270 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2024, 'M07', 6.0)
2025-02-23 10:15:06,270 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,271 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2024, 'M06', 5.5)
2025-02-23 10:15:06,271 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,271 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2024, 'M05', 4.7)
2025-02-23 10:15:06,271 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,272 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2024, 'M04', 4.3)
2025-02-23 10:15:06,272 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,272 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2024, 'M03', 4.9)
2025-02-23 10:15:06,272 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,273 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2024, 'M02', 4.8)
2025-02-23 10:15:06,273 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,273 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2024, 'M01', 5.5)
2025-02-23 10:15:06,273 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,274 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2023, 'M12', 4.7)
2025-02-23 10:15:06,274 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,274 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2023, 'M11', 4.7)
2025-02-23 10:15:06,274 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,275 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2023, 'M10', 4.8)
2025-02-23 10:15:06,275 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,275 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2023, 'M09', 5.0)
2025-02-23 10:15:06,275 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,275 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2023, 'M08', 5.3)
2025-02-23 10:15:06,276 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,276 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2023, 'M07', 4.9)
2025-02-23 10:15:06,276 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,276 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2023, 'M06', 4.7)
2025-02-23 10:15:06,277 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,277 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2023, 'M05', 4.3)
2025-02-23 10:15:06,277 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,277 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2023, 'M04', 4.0)
2025-02-23 10:15:06,277 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,278 INFO sqlalchemy.engine.Engine [insertmanyvalues 21/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2023, 'M03', 4.4)
2025-02-23 10:15:06,278 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,278 INFO sqlalchemy.engine.Engine [insertmanyvalues 22/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2023, 'M02', 4.7)
2025-02-23 10:15:06,278 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,278 INFO sqlalchemy.engine.Engine [insertmanyvalues 23/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2023, 'M01', 4.6)
2025-02-23 10:15:06,278 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,279 INFO sqlalchemy.engine.Engine [insertmanyvalues 24/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2022, 'M12', 4.0)
2025-02-23 10:15:06,279 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,279 INFO sqlalchemy.engine.Engine [insertmanyvalues 25/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2022, 'M11', 4.3)
2025-02-23 10:15:06,279 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,279 INFO sqlalchemy.engine.Engine [insertmanyvalues 26/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2022, 'M10', 4.2)
2025-02-23 10:15:06,279 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,280 INFO sqlalchemy.engine.Engine [insertmanyvalues 27/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2022, 'M09', 4.1)
2025-02-23 10:15:06,280 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,280 INFO sqlalchemy.engine.Engine [insertmanyvalues 28/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2022, 'M08', 4.4)
2025-02-23 10:15:06,280 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,281 INFO sqlalchemy.engine.Engine [insertmanyvalues 29/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2022, 'M07', 4.5)
2025-02-23 10:15:06,281 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,281 INFO sqlalchemy.engine.Engine [insertmanyvalues 30/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2022, 'M06', 4.5)
2025-02-23 10:15:06,281 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,281 INFO sqlalchemy.engine.Engine [insertmanyvalues 31/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2022, 'M05', 4.1)
2025-02-23 10:15:06,282 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,282 INFO sqlalchemy.engine.Engine [insertmanyvalues 32/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2022, 'M04', 4.4)
2025-02-23 10:15:06,282 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,282 INFO sqlalchemy.engine.Engine [insertmanyvalues 33/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2022, 'M03', 4.7)
2025-02-23 10:15:06,283 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,283 INFO sqlalchemy.engine.Engine [insertmanyvalues 34/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2022, 'M02', 5.3)
2025-02-23 10:15:06,283 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,283 INFO sqlalchemy.engine.Engine [insertmanyvalues 35/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2022, 'M01', 6.0)
2025-02-23 10:15:06,283 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,283 INFO sqlalchemy.engine.Engine [insertmanyvalues 36/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2021, 'M12', 5.5)
2025-02-23 10:15:06,284 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,284 INFO sqlalchemy.engine.Engine [insertmanyvalues 37/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2021, 'M11', 5.9)
2025-02-23 10:15:06,284 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,284 INFO sqlalchemy.engine.Engine [insertmanyvalues 38/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2021, 'M10', 6.6)
2025-02-23 10:15:06,284 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,284 INFO sqlalchemy.engine.Engine [insertmanyvalues 39/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2021, 'M09', 7.1)
2025-02-23 10:15:06,285 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,285 INFO sqlalchemy.engine.Engine [insertmanyvalues 40/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2021, 'M08', 8.3)
2025-02-23 10:15:06,285 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,285 INFO sqlalchemy.engine.Engine [insertmanyvalues 41/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2021, 'M07', 8.8)
2025-02-23 10:15:06,285 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,285 INFO sqlalchemy.engine.Engine [insertmanyvalues 42/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2021, 'M06', 9.3)
2025-02-23 10:15:06,285 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,286 INFO sqlalchemy.engine.Engine [insertmanyvalues 43/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2021, 'M05', 8.7)
2025-02-23 10:15:06,286 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,286 INFO sqlalchemy.engine.Engine [insertmanyvalues 44/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2021, 'M04', 9.4)
2025-02-23 10:15:06,286 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,286 INFO sqlalchemy.engine.Engine [insertmanyvalues 45/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2021, 'M03', 9.6)
2025-02-23 10:15:06,287 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,287 INFO sqlalchemy.engine.Engine [insertmanyvalues 46/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2021, 'M02', 9.8)
2025-02-23 10:15:06,287 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,287 INFO sqlalchemy.engine.Engine [insertmanyvalues 47/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2021, 'M01', 10.2)
2025-02-23 10:15:06,287 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,288 INFO sqlalchemy.engine.Engine [insertmanyvalues 48/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2020, 'M12', 10.0)
2025-02-23 10:15:06,288 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,288 INFO sqlalchemy.engine.Engine [insertmanyvalues 49/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2020, 'M11', 9.7)
2025-02-23 10:15:06,288 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,288 INFO sqlalchemy.engine.Engine [insertmanyvalues 50/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2020, 'M10', 9.8)
2025-02-23 10:15:06,288 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,289 INFO sqlalchemy.engine.Engine [insertmanyvalues 51/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2020, 'M09', 10.9)
2025-02-23 10:15:06,289 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,289 INFO sqlalchemy.engine.Engine [insertmanyvalues 52/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2020, 'M08', 15.4)
2025-02-23 10:15:06,289 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,290 INFO sqlalchemy.engine.Engine [insertmanyvalues 53/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2020, 'M07', 17.1)
2025-02-23 10:15:06,290 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,290 INFO sqlalchemy.engine.Engine [insertmanyvalues 54/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2020, 'M06', 16.6)
2025-02-23 10:15:06,290 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,290 INFO sqlalchemy.engine.Engine [insertmanyvalues 55/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2020, 'M05', 18.0)
2025-02-23 10:15:06,290 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,291 INFO sqlalchemy.engine.Engine [insertmanyvalues 56/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2020, 'M04', 16.3)
2025-02-23 10:15:06,291 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,291 INFO sqlalchemy.engine.Engine [insertmanyvalues 57/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2020, 'M03', 6.1)
2025-02-23 10:15:06,291 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,291 INFO sqlalchemy.engine.Engine [insertmanyvalues 58/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2020, 'M02', 4.4)
2025-02-23 10:15:06,291 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,292 INFO sqlalchemy.engine.Engine [insertmanyvalues 59/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2020, 'M01', 4.4)
2025-02-23 10:15:06,292 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,292 INFO sqlalchemy.engine.Engine [insertmanyvalues 60/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2019, 'M12', 3.8)
2025-02-23 10:15:06,292 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,292 INFO sqlalchemy.engine.Engine [insertmanyvalues 61/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2019, 'M11', 3.9)
2025-02-23 10:15:06,292 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,293 INFO sqlalchemy.engine.Engine [insertmanyvalues 62/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2019, 'M10', 4.0)
2025-02-23 10:15:06,293 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,293 INFO sqlalchemy.engine.Engine [insertmanyvalues 63/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2019, 'M09', 4.0)
2025-02-23 10:15:06,293 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,293 INFO sqlalchemy.engine.Engine [insertmanyvalues 64/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2019, 'M08', 4.4)
2025-02-23 10:15:06,294 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,294 INFO sqlalchemy.engine.Engine [insertmanyvalues 65/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2019, 'M07', 4.5)
2025-02-23 10:15:06,294 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,294 INFO sqlalchemy.engine.Engine [insertmanyvalues 66/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2019, 'M06', 4.2)
2025-02-23 10:15:06,294 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,294 INFO sqlalchemy.engine.Engine [insertmanyvalues 67/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2019, 'M05', 3.7)
2025-02-23 10:15:06,294 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id
2025-02-23 10:15:06,295 INFO sqlalchemy.engine.Engine [insertmanyvalues 68/524 (ordered; batch not supported)] ('LAUMT063108000000003', 2019, 'M04', 3.7)
2025-02-23 10:15:06,295 INFO sqlalchemy.engine.Engine INSERT INTO bls (series_id, year, period, value) VALUES (?, ?, ?, ?) RETURNING id

In [38]:
#confirming rows in tables

for table in ["disasters", "climate", "bls"]:
    count = session.execute(text(f"SELECT COUNT(*) FROM {table}")).scalar()
    print(f"📊 {table} table has {count} rows")

2025-02-23 10:15:08,560 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-23 10:15:08,561 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM disasters
2025-02-23 10:15:08,561 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ()
📊 disasters table has 327 rows
2025-02-23 10:15:08,563 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM climate
2025-02-23 10:15:08,563 INFO sqlalchemy.engine.Engine [generated in 0.00035s] ()
📊 climate table has 73 rows
2025-02-23 10:15:08,564 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM bls
2025-02-23 10:15:08,564 INFO sqlalchemy.engine.Engine [generated in 0.00030s] ()
📊 bls table has 524 rows

In [39]:
#creating table Aliases

climate_alias = aliased(Climate)
bls_alias = aliased(BLS)

In [40]:
#joining climate disasters with BLS by year

query = session.query(
    climate_alias.year.label("year"),
    func.avg(climate_alias.avg_temp).label("avg_temp"),
    func.avg(climate_alias.co2_emissions).label("co2_emissions"),
    func.avg(climate_alias.sea_level_rise).label("sea_level_rise"),
    func.avg(climate_alias.rainfall).label("avg_rainfall"),
    func.avg(climate_alias.renewable_energy).label("renewable_energy"),
    func.avg(climate_alias.extreme_weather_events).label("extreme_weather_events"),
    func.avg(bls_alias.value).label("avg_unemployment_rate")  # Aggregate unemployment rate
).join(
    bls_alias, climate_alias.year == bls_alias.year
).group_by(
    climate_alias.year
).order_by(
    climate_alias.year
)

In [41]:
climate_bls_df = pd.DataFrame(query.all(), columns=[
    "year", "avg_temp", "co2_emissions", "sea_level_rise",
    "avg_rainfall", "renewable_energy", "extreme_weather_events",
    "avg_unemployment_rate"])

2025-02-23 10:15:26,181 INFO sqlalchemy.engine.Engine SELECT climate_1.year AS year, avg(climate_1.avg_temp) AS avg_temp, avg(climate_1.co2_emissions) AS co2_emissions, avg(climate_1.sea_level_rise) AS sea_level_rise, avg(climate_1.rainfall) AS avg_rainfall, avg(climate_1.renewable_energy) AS renewable_energy, avg(climate_1.extreme_weather_events) AS extreme_weather_events, avg(bls_1.value) AS avg_unemployment_rate
FROM climate AS climate_1 JOIN bls AS bls_1 ON climate_1.year = bls_1.year GROUP BY climate_1.year ORDER BY climate_1.year
2025-02-23 10:15:26,182 INFO sqlalchemy.engine.Engine [generated in 0.00082s] ()