In [58]:
import pandas as pd
import numpy as np

data = pd.read_csv("climate_change_dataset.csv")
data

,Year,Country,Avg Temperature (°C),CO2 Emissions (Tons/Capita),Sea Level Rise (mm),Rainfall (mm),Population,Renewable Energy (%),Extreme Weather Events,Forest Area (%)
0,2006,UK,8.9,9.3,3.1,1441,530911230,20.4,14,59.8
1,2019,USA,31.0,4.8,4.2,2407,107364344,49.2,8,31.0
2,2014,France,33.9,2.8,2.2,1241,441101758,33.3,9,35.5
3,2010,Argentina,5.9,1.8,3.2,1892,1069669579,23.7,7,17.7
4,2007,Germany,26.9,5.6,2.4,1743,124079175,12.5,4,17.4
...,...,...,...,...,...,...,...,...,...,...
995,2019,India,23.6,8.0,1.2,1365,1358019778,10.0,8,20.2
996,2000,UK,21.8,10.0,2.2,1273,876123161,14.9,14,30.1
997,2019,Argentina,23.8,8.9,4.7,891,1120533308,25.9,10,46.5
998,2016,Australia,21.0,14.9,3.1,1136,380662109,24.5,3,44.5
999,2011,Germany,24.1,17.3,2.1,2854,398407112,41.0,3,19.8

In [59]:
data.head()

,Year,Country,Avg Temperature (°C),CO2 Emissions (Tons/Capita),Sea Level Rise (mm),Rainfall (mm),Population,Renewable Energy (%),Extreme Weather Events,Forest Area (%)
0,2006,UK,8.9,9.3,3.1,1441,530911230,20.4,14,59.8
1,2019,USA,31.0,4.8,4.2,2407,107364344,49.2,8,31.0
2,2014,France,33.9,2.8,2.2,1241,441101758,33.3,9,35.5
3,2010,Argentina,5.9,1.8,3.2,1892,1069669579,23.7,7,17.7
4,2007,Germany,26.9,5.6,2.4,1743,124079175,12.5,4,17.4

In [60]:
# Check for duplicates
duplicates = data.duplicated().sum()
print(f'Number of duplicate rows: {duplicates}')

print(data.dtypes)
print(data.describe())

# Calculate quantiles only for numeric columns
numeric_data = data.select_dtypes(include=['number']) 
Q1 = numeric_data.quantile(0.25)
Q3 = numeric_data.quantile(0.75)
IQR = Q3 - Q1

# Identifying outliers
outliers = ((numeric_data < (Q1 - 1.5 * IQR)) | (numeric_data > (Q3 + 1.5 * IQR))).any(axis=1)
print(f'Number of outlier rows: {outliers.sum()}')
print(data[outliers])

Number of duplicate rows: 0
Year                             int64
Country                         object
Avg Temperature (°C)           float64
CO2 Emissions (Tons/Capita)    float64
Sea Level Rise (mm)            float64
Rainfall (mm)                    int64
Population                       int64
Renewable Energy (%)           float64
Extreme Weather Events           int64
Forest Area (%)                float64
dtype: object
              Year  Avg Temperature (°C)  CO2 Emissions (Tons/Capita)  \
count  1000.000000           1000.000000                  1000.000000
mean   2011.432000             19.883100                    10.425800
std       7.147199              8.542897                     5.614665
min    2000.000000              5.000000                     0.500000
25%    2005.000000             12.175000                     5.575000
50%    2012.000000             20.100000                    10.700000
75%    2018.000000             27.225000                    15.400000
max    2023.000000             34.900000                    20.000000

       Sea Level Rise (mm)  Rainfall (mm)    Population  Renewable Energy (%)  \
count          1000.000000    1000.000000  1.000000e+03           1000.000000
mean              3.009600    1738.761000  7.053830e+08             27.300500
std               1.146081     708.976616  4.093910e+08             12.970808
min               1.000000     501.000000  3.660891e+06              5.100000
25%               2.000000    1098.750000  3.436242e+08             16.100000
50%               3.000000    1726.000000  7.131166e+08             27.150000
75%               4.000000    2362.500000  1.073868e+09             38.925000
max               5.000000    2999.000000  1.397016e+09             50.000000

       Extreme Weather Events  Forest Area (%)
count             1000.000000      1000.000000
mean                 7.291000        40.572000
std                  4.422655        17.398998
min                  0.000000        10.100000
25%                  3.000000        25.600000
50%                  8.000000        41.150000
75%                 11.000000        55.800000
max                 14.000000        70.000000
Number of outlier rows: 0
Empty DataFrame
Columns: [Year, Country, Avg Temperature (°C), CO2 Emissions (Tons/Capita), Sea Level Rise (mm), Rainfall (mm), Population, Renewable Energy (%), Extreme Weather Events, Forest Area (%)]
Index: []

In [61]:
clean = pd.read_csv("cleaned_fema_disaster_data.csv")
clean

,femaDeclarationString,disasterNumber,state,declarationType,declarationDate,fyDeclared,incidentType,declarationTitle,ihProgramDeclared,iaProgramDeclared,...,placeCode,designatedArea,declarationRequestNumber,incidentId,region,designatedIncidentTypes,lastRefresh,hash,id,incidentYear
0,FM-5453-CA,5453,CA,FM,2022-09-09,2022,Fire,MOSQUITO FIRE,False,False,...,99017,El Dorado (County),22079,2022090901,9,W,2024-08-27T18:22:14.800Z,55db606dae79f4072c421755a78bda12428cbf25,9117630b-446c-4e02-8ac3-f2bb6c018390,2022
1,FM-5453-CA,5453,CA,FM,2022-09-09,2022,Fire,MOSQUITO FIRE,False,False,...,99061,Placer (County),22079,2022090901,9,W,2024-08-27T18:22:14.800Z,81d036bce7917927781797396df9eba2e0657443,0b6538ab-4422-42a5-8869-4b38a3809fc6,2022
2,FM-5451-CA,5451,CA,FM,2022-09-06,2022,Fire,FAIRVIEW FIRE,False,False,...,99065,Riverside (County),22077,2022090601,9,W,2024-08-27T18:22:14.800Z,5de7747404e6a293c8d28f3a39a92d9ab5d3b295,9ab70819-db7b-4797-b340-aca3bd45080a,2022
3,FM-5450-CA,5450,CA,FM,2022-09-02,2022,Fire,MILL FIRE,False,False,...,99093,Siskiyou (County),22076,2022090301,9,W,2024-08-27T18:22:14.800Z,248d2a9a05fc39a29eb1df18f0cb522a11f4baaa,a23c8da2-67b3-4aa3-93f4-6121dbb3ea06,2022
4,FM-5445-CA,5445,CA,FM,2022-07-23,2022,Fire,OAK FIRE,False,False,...,99043,Mariposa (County),22064,2022072301,9,W,2024-08-27T18:22:14.800Z,58da2117590e6fa4555cb07894c65e8332efea39,83e6a530-3ace-4b77-a61a-2695cc53dccb,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,DR-122-CA,122,CA,DR,1962-03-06,1962,Flood,FLOODS,False,True,...,0,Statewide,62007,62007,9,W,2024-08-27T18:22:14.800Z,cd2e965f0832198a6c5c788971f4daef295fdd93,eaf8a915-2f39-4481-9f44-b6df7e629f53,1962
1594,DR-119-CA,119,CA,DR,1961-11-16,1962,Fire,FIRE (LOS ANGELES COUNTY),False,True,...,0,Statewide,61019,61019,9,W,2024-08-27T18:22:14.800Z,404e782ee3c37ee52b97126888f3fd9f010a698b,2bcfe547-7f8d-4801-961e-58492893ca64,1961
1595,DR-82-CA,82,CA,DR,1958-04-04,1958,Flood,HEAVY RAINSTORMS & FLOOD,False,True,...,0,Statewide,58012,58012,9,W,2024-08-27T18:22:14.800Z,5cd7b7cdc477702499dca0bf2f66d27955cedafd,1d04457a-5ae5-4b7c-89c9-101403057a3a,1958
1596,DR-65-CA,65,CA,DR,1956-12-29,1957,Fire,FOREST FIRE,False,True,...,0,Statewide,56018,56018,9,W,2024-08-27T18:22:14.800Z,a56f4b8eeb6ead2dd9c1a467bf9642d4f14c8e48,440c073c-ac03-45cb-8c91-4ee5a7d9c666,1956
1597,DR-15-CA,15,CA,DR,1954-02-05,1954,Flood,FLOOD & EROSION,False,True,...,0,Statewide,54016,54016,9,W,2024-08-27T18:22:14.800Z,bb406aed85108d8f443b66391a201ec1dc536b19,de6f0ab8-5a0d-4c78-b70e-8d522d629747,1954

In [62]:
# Filter for rows where the Country column is USA
filtered_data = data[data['Country'] == 'USA']
filtered_data = filtered_data.drop('Country', axis=1)
filtered_data

,Year,Avg Temperature (°C),CO2 Emissions (Tons/Capita),Sea Level Rise (mm),Rainfall (mm),Population,Renewable Energy (%),Extreme Weather Events,Forest Area (%)
1,2019,31.0,4.8,4.2,2407,107364344,49.2,8,31.0
13,2003,27.4,1.8,2.2,766,798905927,27.4,10,14.6
27,2021,28.9,13.3,1.8,617,1019475941,24.4,6,16.3
31,2015,10.6,14.9,1.1,2003,52552633,23.5,10,35.4
41,2006,14.8,9.6,3.7,2914,772375173,38.1,11,60.5
...,...,...,...,...,...,...,...,...,...
944,2005,27.1,12.0,2.5,622,1152039496,17.9,13,17.7
947,2023,12.6,1.1,1.9,1594,572998076,8.9,0,63.9
950,2004,8.2,14.4,1.6,2631,1105460942,42.7,3,57.1
970,2023,6.8,17.5,3.3,971,762718291,38.2,2,48.4
984,2014,5.5,10.7,3.2,1015,560097732,42.2,2,50.4

In [63]:
# Merging clean and filtered_data
merged_data = pd.merge(clean, filtered_data, left_on='incidentYear', right_on='Year', how='left')
merged_data = merged_data.drop('Year', axis=1)

In [64]:
merged_data.head()

,femaDeclarationString,disasterNumber,state,declarationType,declarationDate,fyDeclared,incidentType,declarationTitle,ihProgramDeclared,iaProgramDeclared,...,id,incidentYear,Avg Temperature (°C),CO2 Emissions (Tons/Capita),Sea Level Rise (mm),Rainfall (mm),Population,Renewable Energy (%),Extreme Weather Events,Forest Area (%)
0,FM-5453-CA,5453,CA,FM,2022-09-09,2022,Fire,MOSQUITO FIRE,False,False,...,9117630b-446c-4e02-8ac3-f2bb6c018390,2022,17.6,12.1,2.7,2800.0,7.874699e+08,40.0,2.0,46.7
1,FM-5453-CA,5453,CA,FM,2022-09-09,2022,Fire,MOSQUITO FIRE,False,False,...,9117630b-446c-4e02-8ac3-f2bb6c018390,2022,14.7,7.8,2.7,2214.0,6.606502e+08,38.9,11.0,44.4
2,FM-5453-CA,5453,CA,FM,2022-09-09,2022,Fire,MOSQUITO FIRE,False,False,...,9117630b-446c-4e02-8ac3-f2bb6c018390,2022,10.5,16.5,4.9,2444.0,2.670099e+08,18.5,2.0,27.9
3,FM-5453-CA,5453,CA,FM,2022-09-09,2022,Fire,MOSQUITO FIRE,False,False,...,9117630b-446c-4e02-8ac3-f2bb6c018390,2022,13.4,7.7,3.7,566.0,1.049606e+09,12.5,8.0,27.3
4,FM-5453-CA,5453,CA,FM,2022-09-09,2022,Fire,MOSQUITO FIRE,False,False,...,9117630b-446c-4e02-8ac3-f2bb6c018390,2022,9.9,13.1,1.5,1489.0,6.881666e+08,8.9,13.0,27.6

In [65]:
merged_data.to_csv('merged_data.csv', index=False)